---
title: "Coding Examples in Posts"
layout: archive
permalink: /examples/
---

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for example_field in site.examples %}
    {% assign example = example_field[1] %}
    <section id="{{ example.name | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle">{{ example.name }}</h2>
        <div class="entries-{{ entries_layout }}">
            <div class="{{ entries_layout }}__item">
                <a href="{{ example.url }}" title="{{ example.name }}" class="github-project-link" target="_blank">
                    <img src="/assets/images/github-mark.svg" alt="GitHub">
                    {{ example.description }}
                </a>
            </div>
            {% for post in site.posts %}
                {% if post.examples contains example_field[0] %}
                    {% include archive-single.html type=entries_layout %}
                {% endif %}
            {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
{% endfor %}
