---
title: "Code Examples"
permalink: /examples/
layout: archive
---
{% for example_field in site.examples %}
    {% assign example = example_field[1] %}
    <section id="{{ example.name | slugify | downcase }}" class="taxonomy__section">
        <div class="github-project archive__subtitle">
            <img src="/assets/images/github-mark.svg" alt="GitHub"/>
            <div class="github-logo-text">
                <a href="{{ example.url }}" title="{{ example.name }}" target="_blank">
                    <h2 class="archive__subtitle">{{ example.name }}</h2>
                    {{ example.description }}
                </a>
            </div>
        </div>

        <div class="entries-{{ entries_layout }}">
            {% for post in site.posts %}
                {% if post.examples contains example_field[0] %}
                    {% include archive-single.html type=entries_layout %}
                {% endif %}
            {% endfor %}
        </div>
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
{% endfor %}
