<div>{% case include.category %}
{% when "Scala" %}
<img src="/assets/images/categories/Scala-full-color.svg" alt="Scala" title="Scala"/>
{% when "Dart" %}
<img src="/assets/images/categories/Dart_programming_language_logo.svg" alt="Dart" title="Dart"/>
{% when "DevOps/Platform" %}
<img src="/assets/images/categories/serverless.png" alt="DevOps / Platform" title="DevOps / Platform"/>
{% when "JavaScript" %}
<img src="/assets/images/categories/Unofficial_JavaScript_logo_2.svg" alt="JavaScript" title="JavaScript"/>
{% else %}
<span class="text_tag_category">{{ include.category }}</span>
{% endcase %}</div>