{% if include.src1 %}
    {% if include.src2 %}
        {% assign arr = include.src1 | concat: include.src2 | concat: include.src3 | concat: include.src4 | concat: include.src5 | concat: include.src6 | compact %}
Full Sources:
<ul>
    {% for url in arr %}
    {% assign firstchar = url | slice %}
    {% if firstchar == "/"  %}
    <li><a href="{{ url }}" download>{{url | split: "/" | last}}</a></li>
    {% else %}
    <li><a href="{{ url }}">{{url | split: "/" | last}}</a></li>
    {% endif %}
    {% endfor %}
</ul>
    {% else %}
Full Sources: <a href="{{ include.src1 }}" download>{{include.src1 | split: "/" | last}}</a>
    {% endif %}
{% endif %}