<hr/>
<style>
    .github-project {
        margin-bottom: 1em;
    }
    .github-project a {
      text-decoration: none;
    }
    .github-project > img {
        height: 64px;
        padding-right: 1em;
    }
    @media(max-width: 720px) {
        .github-project > img {
            height: 48px;
            padding-right: 10px;
        }
    }
    .github-project > div {
        display: inline-block;
        vertical-align: middle;
    }
    .github-project h1 {
        margin-bottom: 0;
        font-size: larger;
    }
</style>
<div class="github-project">
    <img src="/assets/images/github-mark.svg" alt="GitHub" width="64" height="64"/>
    <div>
        <a href="{{ include.url }}" title="{{ include.name }}" target="_blank">
            <h1>{{ include.description }}</h1>
            {{ include.name }}
        </a>
    </div>
</div>


