
{% assign page_example = page.example %}
{% assign related_posts = site.posts | where_exp:"item", "item.example == page_example" | where_exp:"item", "item != page" %}
{% if related_posts %}
<h1>Other Posts in this Series</h1>
<div class="entries-{{ entries_layout }}">
  {% for post in related_posts %}

    {% if post.id %}
    {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
    {% else %}
    {% assign title = post.title %}
    {% endif %}

    <div class="{{ include.type | default: 'list' }}__item">
      <ul class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
        <li itemprop="headline">
          {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
          {% else %}
          <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </li>
        {% include page__meta.html type=include.type %}
      </ul>
    </div>


  {% endfor %}
</div>
{% endif %}