<div style="display: flex;flex-wrap: wrap;">
    {% include toc title="Table of Contents" %}
    <div style="flex:max-content;min-width:360px;height:inherit;"><div style="min-width: 360px;
  height: 100%;
  max-height: 600px;"><ins class="adsbygoogle"
                                                        style="display:block"
                                                        data-ad-format="autorelaxed"
                                                        data-ad-client="ca-pub-5000348308466945"
                                                        data-ad-slot="5418078712"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script></div></div>
</div>