<style>
    .multiplex_responsive_1 { height: 100px; }
    @media(min-width: 720px) { .multiplex_responsive_1 { height: 400px; } }
</style>
<div style="display:flex;flex-wrap:wrap;min-height:400px;">
    {% include toc title="Table of Contents" %}
    <div style="flex:max-content;min-width:360px;text-align:center;"><ins class="adsbygoogle multiplex_responsive_1"
                           style="display:block;width:360px;"
                           data-ad-client="ca-pub-5000348308466945"
                           data-ad-slot="5418078712"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script></div>
</div>