<div>{% case include.tag %}
{% when "Akka-Pekko" %}
<img src="/assets/images/tags/Akka_toolkit_logo.svg" alt="Pekko"/>
{% when "AWS" %}
<img src="/assets/images/tags/Amazon_Web_Services_Logo.svg" alt="AWS" style="padding-left:2px;padding-right:2px;"/>
{% when "Thrift" %}
<img src="/assets/images/tags/Apache_Thrift_logo.svg" alt="Thrift"/>
{% when "Lit" %}
<img src="/assets/images/tags/lit.svg" alt="Lit" style="padding-left:2px;padding-right:2px;"/>
{% when "AsyncExecution" %}
<img src="/assets/images/tags/async.png" alt="Async Execution"/>
{% when "WebComponents" %}
<img src="/assets/images/tags/webcomponents.svg" alt="Web Components"/>
{% when "TradeAudit" %}
<img src="/assets/images/tags/tradeauditapp.png" alt="Trade Audit"/>
{% when "GitHub" %}
<img src="/assets/images/tags/github.png" alt="GitHub"/>
{% when "Slack" %}
<img src="/assets/images/tags/Slack-logo-RGB.png" alt="Slack" style="padding-left:2px;padding-right:2px;"/>
{% when "SBT" %}
<img src="/assets/images/tags/sbt-logo.svg" alt="SBT"/>
{% when "ZIO" %}
<img src="/assets/images/tags/ZIO.png" alt="ZIO"/>
{% else %}
<span class="text_tag_category">{{ include.tag }}</span>
{% endcase %}</div>