<div>{% case include.tag %}
{% when "Akka/Pekko" %}
<img src="/assets/images/tags/Akka_toolkit_logo.svg" alt="Akka / Pekko" title="Akka / Pekko"/>
{% when "AWS" %}
<img src="/assets/images/tags/Amazon_Web_Services_Logo.svg" alt="AWS" title="AWS" style="padding-left:2px;padding-right:2px;"/>
{% when "Thrift" %}
<img src="/assets/images/tags/Apache_Thrift_logo.svg" alt="Thrift" title="Thrift" style="padding-top: 4px;padding-bottom: 4px;"/>
{% when "Lit" %}
<img src="/assets/images/tags/lit.svg" alt="Lit" title="Lit" style="padding-left:2px;padding-right:2px;"/>
{% when "Non-Blocking/Concurrency" %}
<img src="/assets/images/tags/concurrency.svg" alt="Non-Blocking / Concurrency" title="Non-Blocking / Concurrency"/>
{% when "Web_Components" %}
<img src="/assets/images/tags/webcomponents.svg" alt="Web Components" title="Web Components"/>
{% when "Trade_Audit" %}
<img src="/assets/images/tags/tradeauditapp.png" alt="Trade Audit" title="Trade Audit"/>
{% when "GitHub" %}
<img src="/assets/images/tags/github.png" alt="GitHub" title="GitHub"/>
{% when "Slack" %}
<img src="/assets/images/tags/Slack-logo-RGB.png" alt="Slack" title="Slack" style="padding-left:2px;padding-right:2px;"/>
{% when "SBT" %}
<img src="/assets/images/tags/sbt-logo.svg" alt="SBT" title="SBT"/>
{% when "ZIO" %}
<img src="/assets/images/tags/ZIO.png" alt="ZIO" title="ZIO"/>
{% when "Typelevel/Cats" %}
<img src="/assets/images/tags/typelevel.png" alt="Typelevel / Cats" title="Typelevel / Cats"/>
{% when "Cloud/Serverless" %}
<img src="/assets/images/tags/serverless.png" alt="Cloud / Serverless" title="Cloud / Serverless"/>
{% when "Bloc" %}
<img src="/assets/images/tags/flutter_bloc.png" alt="Flutter Bloc" title="Flutter Bloc"/>
{% when "gRPC" %}
<img src="/assets/images/tags/grpc-logo.png" alt="gRPC" title="gRPC"/>
{% else %}
<span class="text_tag_category">{{ include.tag }}</span>
{% endcase %}</div>