---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$right-sidebar-width-narrow: 50px !default;
$right-sidebar-width: 60px !default;
$right-sidebar-width-wide: 70px !default;

/* plum syntax highlighting (base16) */
$base00: #f3f3f3 !default;
$base01: #e0e0e0 !default;
$base02: #d0d0d0 !default;
$base03: #b0b0b0 !default;
$base04: #8c8c8c !default;
$base05: #880096 !default;
$base06: #151515 !default;
$base07: #202020 !default;
$base08: #e42cde !default;
$base09: #fd8900 !default;
$base0a: #007e8b !default;
$base0b: #007e0a !default;
$base0c: #1faaaa !default;
$base0d: #3777e6 !default;
$base0e: #002cb6 !default;
$base0f: #cc6633 !default;

// START ORIGINAL

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// END ORIGINAL

.page .page__inner-wrap {
    margin-top: 0;
}

.page__title {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    margin-top: 2em;
    margin-bottom: 1em;
}

pre {
  font-size: 12.5px;
  border: 1px solid #343434;
  background-color: #fafafa;
  line-height: 1.6em;
  border-radius: 4px;
  padding: 1em;
}

code.highlighter-rouge {
  border: 0.5px solid #343434;
}

tbody {
  background-color: #fafafa;
}

.page__content {
  line-height: 1.75em;
}

.toc__menu {
  background-color: #fafafa;
  background-image: url('/assets/images/inv-background.jpg');
}

.archive {
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - 100px);
    padding-right: 100px;
  }

  @include breakpoint($x-large) {
    width: calc(100% - 150px);
    padding-right: 150px;
  }
}

input,
textarea,
select {
  width: auto;
  background-color: #fff;
  border: $gray;
}

// Google Ads

ins {
 border-bottom: 0px;
}

.page__footer {
  margin-top: 0px;  
  border-top: 1px solid #8e8b82;
  background-color: transparent;
  color: inherit;
}

.page__footer footer {
  margin-top: 4px;
  padding-left: 1em;
  padding-right: 1em;
}

.page__footer-follow {
  margin-top: 2em;
}

.page__footer-copyright {
  color: #8e8b82;
}

.pagination {
  margin-bottom: 2em;
}


.initial-content {
  background-color: #f3f3f3;
}

html {
  background-color: #e9dcbe;
  background-size: 140px;
  background-image: url('/assets/images/background.jpg');
  background-repeat: repeat;
  min-width: 360px;
}

@media (min-width: 80em) {
  html {
    font-size: 18px;
  }
  .page {
    width: calc(100% - 100px);
    padding-right: 100px;
  }
}

#main {
  padding-left: 10px;
  padding-right: 10px;
}

.site-logo img {
  max-height: 2.5rem;
  border-radius: 4px;
}

@media(max-width: 720px) {
  .pagination {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    float: none;
  }

  footer {
    width: fit-content;
  }
}

.html-bg {
  background-color: #e9dcbe;
  background-size: 140px;
  background-image: url('/assets/images/background.jpg');
  background-repeat: repeat;
  border: 1px solid #343434;
  border-radius: 4px;
  padding: 30px;
  line-height: 1.5;
}

.img-bg {
  background-size: cover;
  background-color: #e9dcbe;
  background-position: center;
  border: 1px solid #343434;
  border-radius: 4px;
  padding: 30px;
  font-weight: 500;
}

.html-bg h1 {
  margin-top: 1.5em;
}

.img-bg h1 {
  margin-top: 0;
  margin-bottom: 1em;
}

.img-bg h2 {
  border-bottom: none;
}

.masthead {
  border-bottom: 1px solid #8e8b82;
}

.greedy-nav {
  background: inherit;
}

table {
  min-width: calc(360px - 2em);
  display: table;
  width: 80%;
  border: 1px solid #343434;
  border-radius: 4px;
  border-collapse: separate;
  border-spacing: 0;
}

thead {
  background-color: #e9dcbe;
  background-size: 140px;
  background-image: url('/assets/images/background.jpg');
  background-repeat: repeat;
}

th {
  border-bottom: 1px solid #343434;
}

tr:last-of-type td {
  border-bottom: none;
}

// TAG BUTTONS

.post__taxonomy-item {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #afa58f;
  border-radius: 4px;
}

.post__taxonomy-item img {
  height: 24px;
  vertical-align: middle;
  margin-top: 1px;
  margin-bottom: 1px;
}

.page__taxonomy-item img {
  max-height: 2em;
}

.post__taxonomy-item img:hover,
.page__taxonomy-item img:hover,
.page__content .html-bg a:not(.btn):hover img {
  box-shadow: none;
}
.post__taxonomy-item div {
  min-width: 1.5em;
  text-align: center;
}
a.post__taxonomy-item,
a.page__taxonomy-item,
.pagination--pager,
.pagination a {
  background-color: #ffffff;
}
a.post__taxonomy-item:hover, a.page__taxonomy-item:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.page__taxonomy-item div {
  min-width: 3em;
  text-align: center;
}

.post__taxonomy-item:hover, .page__taxonomy-item:hover {
  border: 1px solid #343434;
}

.archive__item .page__taxonomy {
  margin-bottom: 6px;
}

.page__taxonomy {
    display: inline-block;
    margin-right: 2em;
}

.archive__item .post__taxonomy-item {
  padding-left: 2px;
  padding-right: 2px;
}

.text_tag_category {
  font-size: 16px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: Impact;
  color: #343434;
  vertical-align: middle;
}

header .text_tag_category {
  font-size: 20px;
  line-height: 27px;
  vertical-align: middle;
}

.page__date {
    display: inline-block;
    vertical-align: middle;
}

// TABLE OF CONTENTS

.sidebar__right {
  flex: max-content;
  margin: 0;
  padding-right: 1em;
  padding-left: 1em;
  position: static;
}

.toc-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 360px;
  margin-left: -1em;
  clear: both;
  padding-top: 1em;
  font-size: 24px;
}

.toc-ad {
  flex: max-content;
  min-width: 360px;
  text-align: center;
}

.toc {
  border: 1px solid #343434;
}

.toc .nav__title {
  font-size: 1em;
  background: #e9dcbe url('/assets/images/background.jpg') center/140px repeat;
  padding: 20px;
  color: #343434;
  border-bottom: 0.5px solid #343434;
}

figure {
  display: inline-block;
  border: 1px solid #343434;
  border-radius: 4px;
  background-color: #e9dcbe;
  background-size: 140px;
  background-image: url('/assets/images/background.jpg');
  background-repeat: repeat;
  margin: 0 0 1.3em 0;
  line-height: 1.1em;
}

figure img {
  border-radius: 4px;
  margin-bottom: 0;
  background-image: url('/assets/images/inv-background.jpg');
}

figure img.fighascaption {
  border-radius: 4px 4px 0px 0px;
}

figcaption {
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid #343434;
}

// POST-LOGOS

figure.postlogo {
  float: left;
  text-align: center;
  margin: 10px 20px 4px 4px;
  font-size: small;
  border: none;
  background: none;
}

figure.postlogo img {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 4px;
  border-radius: 0;
}

figure.postlogo figcaption {
  border: none;
}

@media(min-width: 720px) {
  figure.postlogo img {
    max-width: 180px;
    max-height: 180px;
    margin-bottom: 4px;
  }
}

// GITHUB

.html-bg h2.archive__item-title {
    padding-bottom: 0;
}

.html-bg .taxonomy__section {
  margin-bottom: 0;
  padding-bottom: 0;
}

.html-bg .post__taxonomy-item {
  background-color: #f3f3f3;
}

.html-bg .list__item.multi-part-post {
  clear: both;
  padding-bottom: 0.75em;
}

svg.html-bg {
    padding: 0;
    margin: 4px;
}

.github-project {
    margin-bottom: 1em;
    display: table-row;
}
a.github-project {
  text-decoration: none;
}
.github-project > img {
  width: 3em;
  margin-right: 0.75em;
}
.page__content a.github-project:not(.btn):hover img {
  box-shadow: none;
}
@media(max-width: 720px) {
    .github-project > img {
        margin-top: 0.25em;
        padding-right: 0.5em;
    }
}
.github-project > div {
    display: table-cell;
    vertical-align: middle;
}
.github-project h2 {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.certification {
    display: inline-block;
    width: 100px;
    font-size: 9pt;
    line-height: 1em;
    text-align: center;
    margin: 0.2em;
    vertical-align: top;
    font-family: Tahoma;
    text-decoration: none;
}
.certification img {
    padding-bottom: 0.25em;
    width: 64px;
}
.page__content a.certification:hover img {
    box-shadow: none;
}