---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$right-sidebar-width-narrow: 50px !default;
$right-sidebar-width: 60px !default;
$right-sidebar-width-wide: 70px !default;

/* plum syntax highlighting (base16) */
$base00: #f3f3f3 !default;
$base01: #e0e0e0 !default;
$base02: #d0d0d0 !default;
$base03: #b0b0b0 !default;
$base04: #8c8c8c !default;
$base05: #880096 !default;
$base06: #151515 !default;
$base07: #202020 !default;
$base08: #e42cde !default;
$base09: #fd8900 !default;
$base0a: #007e8b !default;
$base0b: #007e0a !default;
$base0c: #1faaaa !default;
$base0d: #3777e6 !default;
$base0e: #002cb6 !default;
$base0f: #cc6633 !default;


// START ORIGINAL

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// END ORIGINAL

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - 100px);
    padding-right: 100px;
  }

  @include breakpoint($x-large) {
    width: calc(100% - 150px);
    padding-right: 150px;
  }
}

input,
textarea,
select {
  width: auto;
  background-color: #fff;
  border: $gray;
}

// Google Ads

ins {
 border-bottom: 0px;
}

.page__footer {
  margin-top: 0px;  
  border-top: 1px solid #8e8b82;
  background-color: transparent;
  color: inherit;
}

.page__footer footer {
  margin-top: 4px;
}

.page__footer-follow {
  margin-top: 2em;
}

.page__footer-copyright {
  color: #8e8b82;
}

.pagination {
  margin-bottom: 2em;
}

.initial-content {
  background-color: #f3f3f3;
}

html {
  background-color: #e9dcbe;
  background-size: 140px;
  background-blend-mode: lighten;
  background-image: url('/assets/images/background.jpg');
  background-repeat: repeat;
}

.html-bg {
  background-color: #e9dcbe;
  background-size: 140px;
  background-blend-mode: lighten;
  background-image: url('/assets/images/background.jpg');
  background-repeat: repeat;
  border: 1px solid #343434;
  border-radius: 4px;
  padding: 30px;
}

.img-bg {
  background-size: cover;
  background-blend-mode: soft-light;
  background-color: #e9dcbe;
  background-position: center;
  border: 1px solid #343434;
  border-radius: 4px;
  padding: 30px;
}

.masthead {
  border-bottom: 1px solid #8e8b82;
}

.greedy-nav {
  background: inherit;
}

// TAG BUTTONS

.post__taxonomy-item {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #afa58f;
  border-radius: 4px;
}

.post__taxonomy-item img {
  max-height: 1em;
}

.page__taxonomy-item img {
  max-height: 2em;
}

.post__taxonomy-item div {
  min-width: 1.5em;
  text-align: center;
}

.page__taxonomy-item div {
  min-width: 3em;
  text-align: center;
}

// TABLE OF CONTENTS

.sidebar__right {
  width: 100%;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
}
