---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5000348308466945" crossorigin="anonymous"></script>

    <!-- archive-header -->
    <!--<ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5000348308466945"
       data-ad-slot="4621928215"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>-->
    
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
  
  <div style="margin-top:20px">
    <!-- archive-footer -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-format="autorelaxed"
       data-ad-client="ca-pub-5000348308466945"
       data-ad-slot="4002695705"></ins>
    <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
